<%= form_with(model: @task, class: 'task-form') do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :creator %>
    <%= form.text_field :creator %>
  </div>

  <div>
    <%= form.label :performer %>
    <%= form.text_field :performer %>
  </div>

  <div class="inline-checkbox">
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </div>

  <div>
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>